# Data analysis
2019.04.06 - ?

I get to data analysis in this notebook. This is _part 1_, as I am planning on attacking analysis from another aspect in the future. This notebook looks at the usage of articles in front of specific count and mass nouns, obtained from the prepatory analysis and exploration. However, due to limitations on finding nouns used in each level of interest for four language groups in two different corpora (Arabic L1 from BALC, Arabic L1 from PELIC, Spanish L1 from PELIC, Korean L1 from PELIC), only 1 sample from each level in each language was able to be obtained. Due to this, and due to the fact that I may not have very many interesting or informative findings, I am planning on expanding my analysis in a second part.

## Summary of code
-

In [1]:
import pandas as pd
import numpy as np
import re 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%pprint            # to turn off pretty printing

Pretty printing has been turned OFF

In [3]:
balc = pd.DataFrame.from_csv('../data/balc_targets.csv', index_col=[0])
pelic = pd.DataFrame.from_csv('../private/pelic_targets.csv', index_col=[0])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [4]:
balc.head()

,index,Filename,Level,Original_Text,Normalized_Essay,Revised_Essay,tokens,token_count,TTR,Guiraud,pos,lemmas,targ
0,1347,200611403,3,\t\t\t\tCEPA 3 200611403\n\n\n\nLast summer ho...,Last summer holiday iam going with my family t...,Last summer holiday iam going with my family t...,"['Last', 'summer', 'holiday', 'iam', 'going', ...",82,0.536585,4.858987,"[(Last, 'JJ'), (summer, 'NN'), (holiday, 'NN')...","['last', 'summer', 'holiday', 'iam', 'go', 'wi...",book
1,1171,200608092,4,\t\t\t\tCEPA 4 200608092\n\n\n\nI have just ha...,I have just had the perfect holidy. In my holi...,I have just had the perfect holidy. In my holi...,"['I', 'have', 'just', 'had', 'the', 'perfect',...",188,0.446809,6.126330,"[(I, 'PRP'), (have, 'VBP'), (just, 'RB'), (had...","['-PRON-', 'have', 'just', 'have', 'the', 'per...",book
2,1441,200603618,5,\t\t\t\tCEPA 5 200603618\n\n\n\nIn the summer ...,In the summer holiday my family dicides to spe...,In the summer holiday my family dicides to spe...,"['In', 'the', 'summer', 'holiday', 'my', 'fami...",215,0.460465,6.751744,"[(In, 'IN'), (the, 'DT'), (summer, 'NN'), (hol...","['in', 'the', 'summer', 'holiday', '-PRON-', '...",book
3,998,200620854,6,\t\t\t\tCEPA 6 200620854\n\n\n\n\t\t\t\tTopic ...,"Topic A (The Worst Holiday) Last summer, I was...","Topic A (The Worst Holiday) Last summer, I was...","['Topic', 'A', '(', 'The', 'Worst', 'Holiday',...",177,0.593220,7.892283,"[(Topic, 'NN'), (A, 'NNP'), ((, '-LRB-'), (The...","['topic', 'a', '(', 'the', 'worst', 'holiday',...",book
4,881,200607798,3,\t\t\t\tCEPA 3 200607798\n\nWhere I going to t...,"Where I going to the India with my family , my...","Where I going to the India with my family , my...","['Where', 'I', 'going', 'to', 'the', 'India', ...",151,0.602649,7.405475,"[(Where, 'WRB'), (I, 'PRP'), (going, 'VBG'), (...","['where', '-PRON-', 'go', 'to', 'the', 'india'...",money

In [9]:
# drop the index column, we don't need it
balc = balc.drop('index', axis=1)
balc.head()

,Filename,Level,Original_Text,Normalized_Essay,Revised_Essay,tokens,token_count,TTR,Guiraud,pos,lemmas,targ
0,200611403,3,\t\t\t\tCEPA 3 200611403\n\n\n\nLast summer ho...,Last summer holiday iam going with my family t...,Last summer holiday iam going with my family t...,"['Last', 'summer', 'holiday', 'iam', 'going', ...",82,0.536585,4.858987,"[(Last, 'JJ'), (summer, 'NN'), (holiday, 'NN')...","['last', 'summer', 'holiday', 'iam', 'go', 'wi...",book
1,200608092,4,\t\t\t\tCEPA 4 200608092\n\n\n\nI have just ha...,I have just had the perfect holidy. In my holi...,I have just had the perfect holidy. In my holi...,"['I', 'have', 'just', 'had', 'the', 'perfect',...",188,0.446809,6.126330,"[(I, 'PRP'), (have, 'VBP'), (just, 'RB'), (had...","['-PRON-', 'have', 'just', 'have', 'the', 'per...",book
2,200603618,5,\t\t\t\tCEPA 5 200603618\n\n\n\nIn the summer ...,In the summer holiday my family dicides to spe...,In the summer holiday my family dicides to spe...,"['In', 'the', 'summer', 'holiday', 'my', 'fami...",215,0.460465,6.751744,"[(In, 'IN'), (the, 'DT'), (summer, 'NN'), (hol...","['in', 'the', 'summer', 'holiday', '-PRON-', '...",book
3,200620854,6,\t\t\t\tCEPA 6 200620854\n\n\n\n\t\t\t\tTopic ...,"Topic A (The Worst Holiday) Last summer, I was...","Topic A (The Worst Holiday) Last summer, I was...","['Topic', 'A', '(', 'The', 'Worst', 'Holiday',...",177,0.593220,7.892283,"[(Topic, 'NN'), (A, 'NNP'), ((, '-LRB-'), (The...","['topic', 'a', '(', 'the', 'worst', 'holiday',...",book
4,200607798,3,\t\t\t\tCEPA 3 200607798\n\nWhere I going to t...,"Where I going to the India with my family , my...","Where I going to the India with my family , my...","['Where', 'I', 'going', 'to', 'the', 'India', ...",151,0.602649,7.405475,"[(Where, 'WRB'), (I, 'PRP'), (going, 'VBG'), (...","['where', '-PRON-', 'go', 'to', 'the', 'india'...",money

In [5]:
pelic.head()

,answer_id,question_id,anon_id,user_file_id,text,class_code,level_id,native_language,version,toks_re,toks_re_len,toks_nltk,targ
0,1897,188,am1,13293,Adjective\n a lot of traditional desserts\n su...,w,3,Arabic,1,"['adjective', 'a', 'lot', 'of', 'traditional',...",200,"['Adjective', 'a', 'lot', 'of', 'traditional',...",book
1,31692,4194,du3,69515,"I like book called The Last Lecture,because it...",w,4,Arabic,1,"['i', 'like', 'book', 'called', 'the', 'last',...",13,"['I', 'like', 'book', 'called', 'The', 'Last',...",book
2,36798,4778,dp7,78306,Studying English is very crucial because it ...,w,5,Arabic,1,"['studying', 'english', 'is', 'very', 'crucial...",132,"['Studying', 'English', 'is', 'very', 'crucial...",book
3,18572,2544,dg7,41011,? LIST\n\nThe entrance is in front of t...,w,3,Korean,1,"['list', 'the', 'entrance', 'is', 'in', 'front...",124,"['?', 'LIST', 'The', 'entrance', 'is', 'in', '...",book
4,1483,140,eu6,11952,1.The !Kung's most important food is the mongo...,w,4,Korean,1,"['the', 'kung', 's', 'most', 'important', 'foo...",164,"['1', '.', 'The', '!', 'Kung', ""'s"", 'most', '...",book